# Configuração do Redis
# Exemplo local (sem senha): redis://localhost:6379
# Exemplo com senha: redis://:sua_senha_segura@localhost:6379
REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=

# Configurações da ANP
# ANP_BASE_URL=https://www.gov.br/anp/pt-br/assuntos/precos-e-defesa-da-concorrencia/precos/arquivos-lpc
# OUTPUT_DIR=./dados_anp/

# Integrações (Opcional)
# GH_TOKEN=
# GEMINI_API_KEY=
# RENDER_DEPLOY_HOOK_URL=