# Ignore o ambiente virtual
.venv/
venv/
__pycache__/
*.pyc

# Dados baixados
dados_anp/
*.xlsx

# Logs
*.log
temp/

# Configurações sensíveis
.env

#config vscode
.vscode/
*.vscode
vscode/

.gemini/
gha-creds-*.json

# Testes e Cobertura
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
